{% extends 'layouts/layout.html.twig' %}

{% import 'macros/advert-macros.html.twig' as advertElements %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header %}
    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.7">
        <div class="section-inner pad-top-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt30 wow text-center">
                        <h2 class="section-heading">Résultats de recherche</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}

{% block content %}

    <section>
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div id="post-sidebar" class="col-sm-3">
                        <div class="widget mb50">
                            <h4 class="widget-title">Recherche</h4>
                            {{ form(form) }}
                        </div>
{#                        <div class="widget mb50">#}
{#                            <h4 class="widget-title">Categories</h4>#}
{#                            <div class="tagcloud">#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs btn-primary" title="3 topics">VTT XC</a>#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">VTT Enduro</a>#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">VTT DH</a>#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">VTC</a>#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Gravel</a>#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Route</a>#}
{#                                <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Triathlon</a>#}

{#                            </div>#}
{#                        </div>#}

                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <div class="row">

                        {% for advert in result.results.items %}

{#                        <div class="col-sm-6 blog-item mb100 wow match-height">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-12">#}
{#                                    <div class="hover-item mb30">#}
{#                                        {% if advert.gallery.photos | length %}#}
{#                                            <img src="{{ asset('uploads/'~advert.gallery.photos[0].url) }}" class="img-responsive smoothie" alt="title">#}
{#                                        {% endif %}#}
{#                                        <div class="overlay-item-caption smoothie"></div>#}
{#                                        <div class="hover-item-caption smoothie">#}
{#                                            <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">View</a></h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <h2 class="post-title">{{advert.title}}</h2>#}
{#                                    <div class="item-metas text-muted mb30">#}
{#                                        <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>News</span></span>#}
{#                                        <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>Danny Jones</span></span>#}
{#                                    </div>#}
{#                                    <p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>#}
{#                                    <a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                          {{ advertElements.advert_block(advert, 6) }}

                        {% endfor %}
                        </div>
                        <div class="row tb50">
                            {% for i in 1..(result.results.totalItemCount/result.results.itemNumberPerPage + 1) | round(0, 'floor')  %}
                                <a href="{{ url(app.request.get('_route'), app.request.query.all() | merge({page: i}) )}}" class="page-link btn btn-sm btn-primary {{ i == app.request.get('page') ? 'current' : ''  }}">{{ i }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}